<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogista</title>
</head>
<body>
    <header>
        <h1><a href="/">Blogista</a></h1>
    </header>    

    <article>
        <h3><a href="">First Post</a></h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse laudantium deserunt fuga voluptate odit rem natus tempore omnis nesciunt, necessitatibus pariatur sit, eum blanditiis, ad consequatur eaque ullam? Ut, voluptate.</p>
        <time>Published: 02:39 PM</time>
    </article>

    <article>
        <h3><a href="">Second Post</a></h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse laudantium deserunt fuga voluptate odit rem natus tempore omnis nesciunt, necessitatibus pariatur sit, eum blanditiis, ad consequatur eaque ullam? Ut, voluptate.</p>
        <time>Published: 02:41 PM</time>
    </article>
</body>
</html>